body {
  font-family: "raleway", sans-serif;
  background-color: #00141e;
}

.navbar {
  background-color: #00141e !important;

  border-bottom: 2px solid #f64e60 !important;
}

.navbar-brand {
  color: #01d099 !important;
  margin-right: 50px !important;
  font-weight: 500;
}

.nav-link {
  color: #f6f3f3 !important;
}

.form-control {
  background-color: #f6f3f3 !important;
}

.btn {
  background-color: #01d099;
  color: honeydew;
}

.btn:hover {
  background-color: #f64e60;
  color: #f6f3f3;
}

.leagues-section {
  background-color: #00141e;
  padding: 40px 0;
}

.league-card {
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f6f3f3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.league-card:hover {
  transform: scale(1.05);
}

.premier-league-logo {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.laLiga-league-logo {
  width: 37px;
  height: auto;
  margin-bottom: 10px;
}

.serieA-league-logo {
  width: 22px;
  height: auto;
  margin-bottom: 10px;
}

.bundesliga-league-logo {
  width: 38px;
  height: auto;
  margin-bottom: 10px;
}

.ligue1-league-logo {
  width: 28px;
  height: auto;
  margin-bottom: 10px;
}

.eredivisie-league-logo {
  width: 68px;
  height: auto;
  margin-bottom: 10px;
}

.primeira-league-logo {
  width: 31px;
  height: auto;
  margin-bottom: 10px;
}

.champions-league-logo {
  width: 43px;
  height: auto;
  margin-bottom: 10px;
}

.europa-league-logo {
  width: 43px;
  height: auto;
  margin-bottom: 10px;
}

.conference-league-logo {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.uefa-nations-league-logo {
  width: 28px;
  height: auto;
  margin-bottom: 10px;
}

.league-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

