body {
  font-family: "raleway", sans-serif;
  background-color: #222222;
}

.navbar {
  background-color: #222222 !important;

  border-bottom: 2px solid #f64e60 !important;
}

.navbar-brand {
  color: #01d099 !important;
  margin-right: 50px !important;
  font-weight: 500;
}

.nav-link {
  color: #f6f3f3 !important;
}
.search {
  height: 30px;
}
.form-control {
  background-color: #f6f3f3 !important;
}

.btn {
  background-color: #01d099;
  color: #1f1b1b;
}

.btn:hover {
  background-color: #f64e60;
  color: #f6f3f3;
}

.leagues-section {
  background-color: #222222;
  padding: 40px 0;
}

.league-card {
  text-align: center;
  padding: 15px;
  border: 1px solid rgb(133, 131, 131);
  border-radius: 5px;
  background-color: #edecec;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.league-card:hover {
  transform: scale(1.05);
}

.premier-league-logo {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
}

.laLiga-league-logo {
  width: 37px;
  height: auto;
  margin-bottom: 10px;
}

.serieA-league-logo {
  width: 22px;
  height: auto;
  margin-bottom: 10px;
}

.bundesliga-league-logo {
  width: 38px;
  height: auto;
  margin-bottom: 10px;
}

.ligue1-league-logo {
  width: 28px;
  height: auto;
  margin-bottom: 10px;
}

.eredivisie-league-logo {
  width: 68px;
  height: auto;
  margin-bottom: 10px;
}

.primeira-league-logo {
  width: 31px;
  height: auto;
  margin-bottom: 10px;
}

.champions-league-logo {
  width: 43px;
  height: auto;
  margin-bottom: 10px;
}

.europa-league-logo {
  width: 43px;
  height: auto;
  margin-bottom: 10px;
}

.conference-league-logo {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.uefa-nations-league-logo {
  width: 28px;
  height: auto;
  margin-bottom: 10px;
}

.league-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

/* Clasificaciones*/

.wg_header {
  font-size: 15px !important;
}

.wg_flag {
  width: 18px !important;
}
td {
  font-size: 13px !important;
}

#wg-api-football-standings {
  border: 1px solid #121212;
  margin-top: 30px;
}

.wg_header {
  background-color: #1f1b1b !important;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.competitions-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.competition-card {
  display: flex;
  align-items: center;
  background-color: #edecec;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.competition-card img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.competition-details {
  display: flex;
  flex-direction: column;
}
.competition-details span {
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .competitions-container {
    grid-template-columns: 1fr;
  }
}

/*INDEX*/

#wg-api-football-games {
  margin-top: 60px;
  border: 1px solid #121212;
}

#wg-api-football-fixtures {
  margin-top: 30px;
  border: 1px solid #121212;
}